
.navbar-m{
    padding: 14px 0;
    box-shadow: $nav-shadow;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 4;
    transition: $main-transition;

    @media screen and (max-width:$screen-md) {
        padding: 10px 0;
    }

    @media screen and (max-width:$screen-xs) {
        padding: 25px 0;
    }
    
    .navbar-content{
        @include between;
        width: 100%;
        
        .title{
            font-size: 18px;
            color: $black2;
            font-family: fontDemi;

            @media screen and (max-width:$screen-sm) {
                font-size: 16px;
                order: 2;
            }

            @media screen and (max-width:$screen-xs) {
                font-size: 15px;
            }
        }

        .logo{
            width: 135px;
            height: 65px;
            margin: auto;
            
            @media screen and (max-width:$screen-lg) {
                width: 105px;
                height: 50px;
            }
            
            @media screen and (max-width:$screen-sm) {
                order: 1;
                margin: unset;
            }
            
            @media screen and (max-width:$screen-xs) {
                display: none;
            }
            
        }

        .left-sec{
            display: flex;
            align-items: center;
            gap: 5px;

            @media screen and (max-width:$screen-sm) {
                // display: none;
                order: 3;
            }
        }

        .not-link{
            max-width: 20px;
            max-height: 20px;
        }

        .head-lang{
            display: flex;
            align-items: center;
            gap: 4px;
            color: $black;
            cursor: pointer;
            transition: $main-transition;


            .lang{
                font-size: 14px;
            }

            i{
                font-size: 11px;
            }

            &:hover{
                color: $blue2;
            }
        }
    }
}