.sidebar-m{
    width: 130px;
    // width: 260px;
    height: 100%;
    background-color: $white;
    position: fixed;
    top: 0;
    @include dir-left(0);
    z-index: 999;
    padding: 14px 20px 0;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);

    @media screen and (max-width:$screen-lg2) {
        &:hover{
            width: 210px !important;
        }
    }

    @media screen and (max-width:$screen-lg) {
        width: 280px;

        &:hover{
            width: 280px !important;
        }
        #{$ltr} & {
            transform: translateX(-150%);
        }
        #{$rtl} & {
            transform: translateX(150%);
        }
    }

    &.active{
        transform: translateX(0) !important;
    }

    &:hover{
        width: 260px;

        .links .link .text{
            opacity: 1;
        }

        .links{
            @include dir-padding-left(0 !important);
        }
    }

    .logo{
        display: flex;
        align-items: center;
        gap: 15px;

        .store-img{
            width: 95px;
            height: 68px;
            border-radius: 6px;
            flex-shrink: 0;
        }

        .store-info{
            flex-shrink: 0;
            .name{
                font-size: 18px;
                font-family: fontDemi;
                margin-bottom: 6px;
                display: block;
            }

            .star-text{
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 5px;
                color: $blue2;
                font-family: fontDemi;

                i{
                    color: $gold;
                }
            }
        }
    }

    .links{
        margin-top: 30px;
        @include dir-padding-left(25px);
        transition: all 0.8s cubic-bezier(0.5, -0.7, 0.15, 1.55);
        
        @media screen and (max-width:$screen-lg) {
            @include dir-padding-left(0);
        }

        height: 80vh;
        overflow-y: auto;
        overflow-x: clip;

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 25px;
            background-color: transparent;
        }

        .link{
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 15px;

            .side-icon{
                width: 36px;
                height: 36px;
                border-radius: 5px;
                @include center;
                transition: $main-transition;
                flex-shrink: 0;

                img{
                    max-width: 18px;
                    max-height: 18px;
                }

                &:hover{
                    background-color: $white2;
                }
            }

            .text{
                color: $light5;
                font-size: 15px;
                opacity: 0;
                transition: $main-transition;
                flex-shrink: 0;

                @media screen and (max-width:$screen-lg) {
                    opacity: 1;
                }
            }

            &.active, &:hover{
                .side-icon{
                    background-color: $white2;
                }

                .text{
                    color: $blue2;
                }
            }

            &.red{
                &.active, &:hover{
                    .side-icon{
                        background-color: $light3;
                    }
    
                    .text{
                        color: $red;
                    }
                }
            }
        }
    }
}