@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/sidebar", "sass/footer";
















// invoices-table
.invoices{
    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: 3px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: $blue2;
    }
}

.invoices-table{
    width: 100%;
    white-space: nowrap;

    thead{
        border-bottom: 1px solid $border-color;

        th{
            padding: 20px 10px;
            text-align: center;
            font-size: 16px;
            color: $black2;
            font-weight: 500;
            
            @media screen and (max-width: $screen-xs) {
                font-size: 15px;
                padding: 15px 12px;
            }
        }
    }

    tbody{

        tr{
            border-bottom: 1px solid $light3;

            &:last-child{
                border-bottom: none;
            }

            td{
                font-size: 15px;
                color: #262626;
                padding: 18px 10px;
                text-align: center;
                vertical-align: middle;

                @media screen and (max-width: $screen-xs) {
                    font-size: 14px;
                    padding: 15px 12px;
                }

                .table-img{
                    width: 80px;
                    height: 60px;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }
        }
    }
}

// Start Rating Items
.rating-items{

    max-height: 380px;
    overflow: auto;
    
    @media screen and (max-width:$screen-md) {
        max-height: fit-content;
        overflow: unset;
    }

    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #4c9cdd;
    }

}

.rate-item{
    border-bottom: 2px solid $light3;

    &:last-child{
        border-bottom: none;
    }

    .rate-head{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;

        .rate-img{
            @include circle(46px);
            object-fit: cover;
        }

        .user-info{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .rate-name{
                font-size: 15px;
                color: $black;
                font-family: fontDemi;
            }

            .rate-date{
                font-size: 14px;
                color: $light;
            }
        }
    }

    .rate-icons{
        margin-bottom: 8px;
    }

    .rate-text{
        font-size: 13px;
        line-height: 1.7;
        color: $light;
    }

    .requests-done{
        display: flex;
        align-items: center;
        gap: 10px;
         img{
            max-height: 16px;
         }

         .text{
            font-size: 16px;
            color: $black;
            font-family: fontDemi;
         }
    }
}

// summary-item
.summary-item{
    @include between;
    gap: 8px;
    background-color: $white;
    padding: 24px 22px;

    @media screena and (max-width:$screen-sm) {
        padding: 20px 15px;
    }
    
    &:nth-child(even){
        padding: 15px 22px;
        background-color: $white3;
    }
    
    .first{
        color: $light5;
        font-size: 15px;
    }

    .second{
        color: $blue2;
        font-family: fontDemi;
        font-size: 14px;
    }
    
    &.total{
        .first{
            font-family: fontDemi;
            color: $black;
        }
    }
}

// profile-content
.profile-content{
    display: flex;
    // align-items: center;
    gap: 15px;

    .profile-photo{
        @include circle(74px);
        flex-shrink: 0;
        border: 4px solid $white3;
    }

    .user-info{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .user-name{
            font-size: 16px;
            font-family: fontDemi;
            color: $black;
            display: flex;
            align-items: center;
            gap: 12px;

            .user-star{
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                background-color: $white3;
                padding: 6px;
                border-radius: 3px;
                color: #202020;

                i{
                    color: $gold;
                }
            }
        }
    }
}

// pro-buy-item
.pro-buy-item{
    border-bottom: 1px solid $light3;

    &:last-of-type{
        border-bottom: none;
    }

    .pro-buy-top{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;

        @media screen and (max-width:$screen-md) {
            gap: 15px;
        }

        @media screen and (max-width:$screen-xs) {
            gap: 10px;
            align-items: center;
        }

        .img{
            width: 155px;
            height: 110px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            flex-shrink: 0;
            
            @media screen and (max-width:$screen-md) {
                width: 160px;
                height: 100px;
            }

            .buy-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $main-transition;
            }
        }

        .pro-buy-content{
            flex: 1;
            @media screen and (max-width:$screen-xs) {
                width: 100%;
                flex: auto;
            }

            .pro-buy-head{
                @include between;
                margin-bottom: 10px;
                width: 100%;

                .title{
                    font-size: 15px;
                    font-family: fontDemi;
                    width: 230px;

                    @media screen and (max-width:$screen-sm) {
                        width: auto;
                    }

                    @media screen and (max-width:$screen-xs) {
                        font-size: 14px;
                    }

                    &.lg{
                        font-size: 16px;
                        font-family: fontDemi;
                    }
                }

                .sm-btn{
                    flex-shrink: 0;
                }

                .pro-icon{
                    color: $blue2;
                    font-size: 16px;

                    @media screen and (max-width:$screen-md) {
                        display: none;
                    }
                }
            }

            .buy-buttons{
                display: flex;
                align-items: center;
                gap: 18px;
                margin-top: 14px;

                .buy-btn{
                    padding: 0;
                    font-size: 14px;
                    color: $light5;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                    background-color: transparent;
                    outline: none;

                    &.blue{
                        .ic{
                            color: $blue2;
                        }
                    }

                    &.red{
                        .ic{
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .pro-buy-down{
        font-size: 13px;
        margin-top: 15px;
        color: $light5;
        width: 350px;
        line-height: 1.7;
        @media screen and (max-width:$screen-xs) {
            width: 100%;
        }
    }

    &:hover{
        .buy-img{
            transform: rotate(-3deg) scale(1.1);
        }
    }
}

// order-item
.img-order-con{
    width: 110px;
    height: 110px;
    border-radius: 8px;
    @include center;
    border: 1px solid $light4;
    flex-shrink: 0;

    @media screen and (max-width: $screen-sm) {
        width: 90px;
        height: 90px;
    }
    
    .order-img{
        width: 68px;
        height: 36px;
    
        @media screen and (max-width: $screen-sm) {
            width: 60px;
            height: 28px;
        }
    }

    &.lg{
        width: 145px;
        height: 120px;
        border-width: 2px;

        @media screen and (max-width: $screen-sm) {
            width: 120px;
            height: 100px;
        }

        .order-img{
            width: 75px;
            height: 42px;

            @media screen and (max-width: $screen-sm) {
                width: 60px;
                height: 32px;
            }
        }
    }
}

.order-item{
    padding: 12px;
    border: 1px solid $border-color;
    border-radius: 8px;
    margin-bottom: 22px;

    &:last-of-type{
        margin-bottom: 0;
    }

    .left-sec{
        padding: 0px 22px;

        @media screen and (max-width: $screen-sm) {
            padding: 0 10px;
        }

        .left-item{
            padding: 12px 0;
            border-bottom: 1px solid $light4;

            &:last-child{
                border-bottom: none;
            }
        }
    }

}

// Print Modal
.logo-black{
    display: block;
    width: 200px;
    height: 78px;
    object-fit: contain;
    margin: 10px auto 20px;
    
    @media screen and (max-width:$screen-sm) {
        width: 130px;
        height: 65px;
        margin: 5px auto 10px;
    }
}

.invoice-item{
    border-bottom: 1px solid $border-color;

    &:last-of-type{
        border-bottom: 0;
    }

    .text-item{
        font-size: 16px;
        color: $light;
        display: flex;
        gap: 5px;

        @media screen and (max-width:$screen-sm) {
            font-size: 15px;
        }

        @media screen and (max-width:$screen-xs) {
            font-size: 14px;
        }
    }
}

.code-img{
    width: 80px;
    height: 80px;
    margin: 10px auto 0;
    display: block;
    
    @media screen and (max-width:$screen-xs) {
        width: 60px;
        height: 60px;
    }
}

@media print {
	body {
		.sidebar-m, .navbar-m, .main-sec{
			visibility: hidden;
			display: none;
            height: 0;
		}

        .logo-black{
            height: 50px;
            width: 120px;
            margin-bottom: 10px;
        }

		.modal.show {
            position: relative;
            .head-btns{
                display: none;
            }

			.modal-dialog {
				width: 100vw;
				max-width: none;
				margin: 0 auto;

                @media screen and (max-width:$screen-sm) {
                    width: 100vh;
                }

				.modal-content {
					height: 100%;
					border: 0;
				}

				.modal-body {
					overflow-y: visible;
                    gap: 10px;

                    .row{
                        --bs-gutter-y: 0.5rem;
                    }
				}

				.modal-footer {
					visibility: hidden;
					display: none;
				}
			}
		}

		.modal-backdrop {
			visibility: hidden;
			display: none;
		}

        .modal-dialog {
            page-break-after: always;
        }
	}
}

// invoice-img
.invoice-img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.license-img{
    width: 100%;
    height: auto;
}

// Start Product Detailes
.product-carousel{

    .owl-stage-outer{
        border-radius: 10px;
    }

}

.pro-slide-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;

    &.md{
        height: 695px;
    }

    &.lg{
        height: 734px;

        @media screen and (max-width:$screen-lg) {
            height: 420px !important;
        }
    }

    @media screen and (max-width:$screen-lg) {
        height: 340px !important;
    }
}

// Product Thumbs
.dots-imgs{
    margin-top: 20px;

    .owl-dot{
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .dot-img{
            height: 110px;
            object-fit: cover;

            @media screen and (max-width:$screen-sm) {
                height: 100px;
            }
        }

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparent;
            transition: all .5s ease;
            z-index: 2;
        }

        &::before{
            position: absolute;
            content: '';
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border: 3px solid $white;
            transition: all .5s ease;
            opacity: 0;
            border-radius: 10px;
            z-index: 3;
        }

    }

    .current{
        .owl-dot{

            &::after{
                background-color: rgba($color: #000000, $alpha: .2);
            }

            &::before{
                opacity: 1;
            }

        }
    }

}

// Product Crad
.product-content{
    .product-name{
        font-size: 18px;
        margin-bottom: 15px;
        color: $black;
        display: flex;
        align-items: center;
        gap: 8px;

        @media screen and (max-width:$screen-xs) {
            font-size: 16px;
        }
    }

    .product-items{
        .product-item{
            margin-bottom: 18px;

            .product-item-top{
                font-size: 16px;
                color: #777777;
                margin-bottom: 8px;

                @media screen and (max-width:$screen-xs) {
                    font-size: 15px;
                }
            }

            .product-item-bottom{
                font-size: 15px;
                color: $black;

                @media screen and (max-width:$screen-xs) {
                    font-size: 14px;
                }
            }

            .pr-ic{
                max-height: 15px
            }
        }
    }

    .numbers-form{
        @include between;
        flex-wrap: wrap;
        gap: 8px;

        .number-item{
            display: flex;
            align-items: center;
            gap: 3px;

            .first{
                font-size: 15px;
                color: $light5;
            }

            .two{
                font-size: 15px;
                color: $black;
            }
        }
    }
}

.pr-old{
    display: flex;
    align-items: center;
    gap: 10px !important;
    .price{
        font-size: 16px;
        color: $blue2;
        font-family: fontDemi;
        line-height: 1.7;

        @media screen and (max-width:$screen-xs) {
            font-size: 14px;
        }
    }
    
    .old-price{
        font-size: 16px;
        color: $light;
        text-decoration: line-through;
        line-height: 1.7;

        @media screen and (max-width:$screen-xs) {
            font-size: 14px;
        }
    }
}

// Code Inputs
.code-inputs{
    .main-input{
        display: flex;
        align-items: center;
        gap: 10px;

        .input-me{
            min-height: 42px !important;
        }

        .main-btn{
            height: 42px;
            border-radius: 5px;
        }
    }

    &.lg{
        .main-input{
    
            .input-me{
                min-height: 48px !important;
            }
    
            .main-btn{
                height: 48px;
            }
        }
    }
}

// ads-img
.ads-container{
    margin-bottom: 30px;
}

.ads-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 18px;

    @media screen and (max-width:$screen-sm) {
        height: 180px;
    }
}

// filter-inp
.filter-inputs{
    display: flex;
    align-items: center;
    gap: 15px;

    .filter-inp{
        display: flex;
        align-items: center;
        gap: 10px;

        .filter-text{
            background-color: #F7F7F7;
            color: $blue2;
            font-size: 14px;
            border-radius: 5px;
            height: 36px;
            width: 54px;
            font-family: fontMed;
            @include center;
        }

        .input-me{
            min-height: 36px;
            width: 185px;
        }
    }
}

// package-input
.package-input{
    display: none;
    &:checked + .package{
        background-color: $white2;
        border-color: $white2
    }
}

// package
.package{
    transition: $main-transition;
    cursor: pointer;
    .package-head{
        @include between;
        margin-bottom: 18px;

        .title-m{
            font-size: 19px;
            font-family: fontDemi;
            color: $light2;
        }
    }

    .package-content{
        .packages-span{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
        .package-span{
            font-size: 14px;
            color: $light5;
        }

        .desc{
            margin-top: 8px;
        }
    }

    &.light{
        background-color: $white2;
        border-color: $white2;
        cursor: auto;
    }
}

// group-title
.group-title{
    text-align: center;
    padding: 12px;
    background-color: $blue2;
    color: $white;
    font-size: 16px;
}

// Chart Circle
.all-circles{
    display: flex;
    // align-items: center;
    // gap: 25px;
    justify-content: space-between;

    .chart-circle{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        .circle{
            @include circle(60px);
            @include center;
            margin-bottom: 2px;

            .number{
                @include circle(40px);
                background-color: $white;
                color: $black;
                @include center;
                font-size: 13px;
            }
        }

        .line{
            width: 1px;
            height: 22px;
        }

        .dot{
            @include circle(5px);
            margin-bottom: 10px;
            display: inline-block;
        }

        .text{
            font-size: 14px;
            margin-bottom: 14px;


            @media screen and (max-width:$screen-xs) {
                font-size: 12px;
            }
        }

        .line-bottom{
            width: 100%;
            height: 5px;
        }

        &:first-child{
            .line-bottom{
                
                #{$ltr} & {
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                }
                #{$rtl} & {
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;
                }
            }
        }

        &:last-child{
            .line-bottom{
                #{$ltr} & {
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;
                }
                #{$rtl} & {
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                }
            }
        }
    }
}

// not-item
.not-item{
    border: 1px solid $border-color;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: $main-transition;

    &:last-child{
        margin-bottom: 0;
    }

    @media screen and (max-width: $screen-sm) {
        padding: 18px 15px;
    }

    @media screen and (max-width: $screen-xs) {
        padding: 15px 12px;
    }
    
    .not-text{
        color: $black;
        font-size: 16px;
        font-family: fontDemi;
        transition: $main-transition;
    
        @media screen and (max-width: $screen-xs) {
            font-size: 15px;
        }
    }

    &:hover{
        background-color: $white2;

        .not-text{
            color: $blue2;
        }
    }
}